.block  {
    width: 500px;
    height: 500px;
    background-color: black !important;
}

#block4 {
    width: 600px;
    height: 700px;
    background-color: rgb(0, 230, 230);
}

.block-2 {
    background-color: rgb(175, 4, 41);
}