body {
    font-size: 40px;
}

/* ====================================================== */
* {
    block-size: border-box;
}

.block {
    background: #8b3e3e;
    padding: 50px;
    margin: 50px 30px -40px 20px;

}

.inline {

}

.img {
    padding: 30px 20px 30px;

}